.primary {
    :global {
        .ant-btn {
         border: none;   
         background-color: #0A85ED;
         color: white;
         font-weight: 200;
         width: 100%;
         height: 46px;
         border-radius: 8px;
        }
        .ant-btn:hover  {
            border: none;
            color: white;
        }
    }   
}